/* Regular, classical font */
@font-face {
    font-family: 'Computer Modern Serif';
    src: url('fonts/cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Computer Modern Serif';
    src: url('fonts/cmunbx.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Computer Modern Serif';
    src: url('fonts/cmunti.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Computer Modern Serif';
    src: url('fonts/cmunbi.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Arguably the most readable monospace font for code */
@font-face {
    font-family: 'Terminus';
    src: url('fonts/TerminusTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Terminus';
    src: url('fonts/TerminusTTF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Terminus';
    src: url('fonts/TerminusTTF-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Terminus';
    src: url('fonts/TerminusTTF-Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* A serif lean font */
@font-face {
    font-family: 'Cormorant';
    src: url('fonts/Cormorant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

