body {
    /*
    overflow: scroll;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    */
    margin: 0;
    font-family: 'Computer Modern Serif', serif;
}
code {
    font-family: 'Terminus', monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-weight: bold;
}
#wrapper {
    background-color: antiquewhite;
}
#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1em;
}
#nuage {
    height: 10em;
    text-align: center;
    transition: 1s;
}
#nuage.expanded {
    height: 80vh;
    max-width: 100vw;
}
#mots {
    background-color: transparent !important;
}
#mots a {
    text-decoration: none;
}
.mot a {
    text-decoration: none;
    font-family: 'Computer Modern Serif', serif;
}
main {
    max-width: 35em;
    margin: auto;
}


* {
    box-sizing: border-box;
}
a {
    color: orangered;
    /*
    font-family: 'Cormorant', 'Times New Roman', serif;
    text-decoration: none;
    border-bottom: 1px solid orangered;
    text-decoration-thickness: 2px;
    */
}
p {
    text-align: justify;
}
.image-portfolio {
    width: 100%;
    max-width: 35em;
}




.wordcount-0 {
    font-size: 0.5em;
}
.wordcount-1 {
    font-size: 0.7em;
}
.wordcount-2 {
    font-size: 0.9em;
}
.wordcount-3 {
    font-size: 1.1em;
}
.wordcount-4 {
    font-size: 1.4em;
}
.wordcount-5 {
    font-size: 1.7em;
}
.wordcount-6 {
    font-size: 2.3em;
}
.wordcount-7 {
    font-size: 3em;
}
.wordcount-8 {
    font-size: 5em;
}
.wordcount-9 {
    font-size: 7em;
}
.wordcount-10 {
    font-size: 10em;
}








#ecran {
    position: absolute;
    z-index: 1;
}

.aiguille {
    /*
    font-family: 'Cormorant', 'Times New Roman', serif;
    */
}
.mot, #mot_ouvert {
    /*
    transition-property: top, left;
    transition-duration: 1s, 0.2s;
    transition-delay: 0s, 0.2s;
    transition-timing-function: linear, linear;
    */
}
#mot_ouvert {
    /*
    z-index: 1;
    */
}

#articles {
    /*
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    */
}
.article {
    position: relative;
    opacity: 0;
}

