* {
    /*
    font-family: Tahoma, Geneva, sans-serif;
    */
    box-sizing: border-box;
}
a {
    color: orange;
}

body {
    /*
    overflow: scroll;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    */
    margin: 0;
}

.main {
    max-width: 35em;
    margin: auto;
}
p {
    text-align: justify;
}
.image-portfolio {
    width: 100%;
    max-width: 35em;
}




.wordcount-0 {
    font-size: 0.5em;
}
.wordcount-1 {
    font-size: 0.7em;
}
.wordcount-2 {
    font-size: 0.9em;
}
.wordcount-3 {
    font-size: 1.1em;
}
.wordcount-4 {
    font-size: 1.4em;
}
.wordcount-5 {
    font-size: 1.7em;
}
.wordcount-6 {
    font-size: 2.3em;
}
.wordcount-7 {
    font-size: 3em;
}
.wordcount-8 {
    font-size: 5em;
}
.wordcount-9 {
    font-size: 7em;
}
.wordcount-10 {
    font-size: 10em;
}








#ecran {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#mots {
    margin: 1em;
}
.mot {
    /*
    transition-duration: 1s, 1s;
    transition-timing-function: linear, linear;
    */
    transition-property: top, left;
    transition-duration: 1s, 0.2s;
    transition-delay: 0s, 0.2s;
}
#ecran > .mot {
}

#articles {
    /*
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    */
}
.article {
    display: none;
    padding: 2em;
    opacity: 0;
    transition: display 0s, opacity 0.1s;
}

