---
layout: default
---

<script src="{{ '/assets/js/ajax.js' | relative_url }}"></script>
<script>
  var facteur_mots = 0;
  var facteur_nuage = 0;

  function planWhenDone(transitionable, func) {
    function wrapper(arg) {
      transitionable.removeEventListener('transitionend', wrapper);
      func(arg);
    }
    transitionable.addEventListener('transitionend', wrapper);

    //setTimeout(20);
    style = transitionable.currentStyle || window.getComputedStyle(transitionable);
    if(style.transitionProperty == "" || style.transitionDuration == "0s" || style.transitionDuration == "0s 0s") {
        console.log(transitionable.id + " fires straight away, calling " + func.name);
        var endEvent = document.createEvent("HTMLEvents");
        endEvent.eventName = "transitionend";
        endEvent.initEvent("transitionend", true, true);
        transitionable.dispatchEvent(endEvent);
    } else {
        console.log(transitionable.id + " in transition, " + func.name + " programmed");
    }
  }

  function maskNuage() {
    let mots = document.getElementById("mots");
    let a = document.createElement("a");
    let d = document.createElement("div");

    a.id = "nuageMask";
    a.href = '/';
    a.onclick = clickLoadPost;
    //a.addEventListener("click", clickLoadPost);
    d.style.position = "absolute";
    d.style.left = "0";
    d.style.top = "0";
    d.style.width = "100%";
    d.style.height = "100%";
    a.appendChild(d);
    mots.insertAdjacentElement("afterend", a);
    console.log("nuage masqué");
  }
  function unmaskNuage() {
    let a = document.getElementById('nuageMask');

    if(a) { a.parentElement.removeChild(a); }
    console.log("nuage démasqué");
  }
  function updateNuage(hash) {
    let nuage = document.getElementById("nuage");
    let banner = document.getElementById("banner");

    if(hash == '{{ site.baseurl }}/' || hash == '/') {
      if(! nuage.classList.contains('expanded')) {
        unmaskNuage();
        nuage.classList.add('expanded');
      }
    } else {
      maskNuage();
      if(nuage.classList.contains('expanded')) {
        nuage.classList.remove('expanded');
      }
    }
  }
  function updateAjax(request) {
    let target = document.querySelector(".ajaxTarget");

    if(target.classList.contains("ajaxLoaded")) {
      target.classList.remove("ajaxLoaded");
      document.body.classList.add("showTime");
      console.log("loaded");
    } else if(target.classList.contains("ajaxLoading")) {
      console.log("still loadin ...");
      request.addEventListener("load", function postLoad() {
        request.removeEventListener("load", postLoad);
        target.classList.remove("ajaxLoaded");
        document.body.classList.add("showTime");
        console.log("finally loaded");
      });
    } else {
      console.log("! not loadin at all !");
    }
  }

  window.onpopstate = function popStateLoadPost() {
    let hash;
    let href = document.URL;
    let nuage = document.getElementById("nuage");

    if(event.state) { hash = event.state.hash; }
    else            { hash = href.replace(/http(s)?:\/\/([^\/])*/, ""); }
    updateNuage(hash);
    request = loadPost(href);
    updateAjax(request);
  };

  window.onload = function prepareNuage() {
    var nuage = document.getElementById("nuage");
    var mots = document.getElementById("mots");
    var liste_mots = document.getElementsByClassName("mot");
    //var longueur_mots = mots.innerText.length;
    var longueur_mots = mots.textContent.replace(/\s+/g, ' ').trim().length;
    let box_style = window.getComputedStyle(nuage);
    let hash = document.baseURI.replace(/http(s)?:\/\/([^\/])*/, "");

    // Quand longueur_mots vaut 123, nuage doit faire environ 720px de large.
    //facteur_mots = Number(longueur_mots/18).toPrecision(2);
    facteur_mots = Number(50/longueur_mots).toPrecision(2);

    // Les choses sont facteur_nuage fois plus grandes dans le svg.
    facteur_nuage = Number(box_style.width.replace(/px$/, "")) / nuage.viewBox.animVal['width'];

    console.log("facteur nuage : " + facteur_nuage);
    console.log("facteur mots : " + facteur_mots);

    for(var i = 0; i < liste_mots.length; i++) {
      let mot = liste_mots[i];
      let style_mot = window.getComputedStyle(mot);

      // Auggmenter la taille des mots pour remplir le nuage.
      mot.style.fontSize = style_mot.fontSize.replace(/px$/, '') * facteur_mots + "px";
    }
    updateNuage(hash);
    console.log('hash', hash);
    // Enclencher les animations si cacher_nuage ne l'a pas fait :
    if(hash != '{{ site.baseurl }}/' && hash != '/') {
      document.body.classList.add("showTime");
    }
  };

  function clickLoadPost() {
    console.log("event from", event.target.tagName);
    // DEBUG pourquoi event.target pointe tantot sur le lien d'origine,
    // tantot sur le div qui le contenait ?
    //let href = event.target.href;
    let href = event.target.href || event.target.parentElement.href;
    //let id = event.target.id;
    let nuage = document.getElementById("nuage");
    let hash = href.replace(/http(s)?:\/\/([^\/])*/, "");
    let stateObj = { hash: hash };

    event.preventDefault();
    if(document.body.classList.contains("showTime")) {
      document.body.classList.remove("showTime");
    }

    request = loadPost(href);

    updateNuage(hash);

    // Quand la transition est finie, attendre que la page soit chargée pour
    // vider les classes de chargement.
    planWhenDone(nuage, function() {
      updateAjax(request);
      history.pushState(stateObj, href, href);
    });
  }

</script>

<link rel="stylesheet" href="{{ '/assets/css/puzzle.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/ajax.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}" />

<div id="ecran"></div>

<div id="banner">
  <div class="content">
      <h1 class="title">{{ site.title | escape }}</h1>

    {{ site.description }}

  </div>

  {%- if site.posts.size > 0 -%}

  <!-- Post cloud -->

  <style>
    .mouleNuage {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        z-index: -1;
    }
    .mouleNuage.gauche {
        float: left;
        shape-outside: url("{{ '/images/nuage_gauche.svg' | relative_url }}");
        clip-path: url("{{ '/images/nuage_gauche.svg' | relative_url }}");
     }
    .mouleNuage.droit {
        float: right;
        shape-outside: url("{{ '/images/nuage_droit.svg' | relative_url }}");
        clip-path: url("{{ '/images/nuage_droit.svg' | relative_url }}");
     }
  </style>

  <svg id="nuage" viewBox="0 0 720 360">
    <path d="M0,0 H720 V360 H0 Z" fill="transparent" stroke="transparent" />
    <foreignObject x="0" y="0" width="720" height="360">
      <body xmlns="http://www.w3.org/1999/xhtml">
        <div id="mots">
          <span class="mouleNuage gauche"></span>
          <span class="mouleNuage droit"></span>
          {%- for post in site.posts -%}
            {% assign wc = post.content.size | divided_by: 100 %}
            {% assign postid = post.url | split: '/' | last | split: '.' | first %}
            <a    id="mot-{{ postid }}"
                  href="{{ post.url | relative_url }}"
                  class="mot wordcount-{{ wc }}"
                  onclick="clickLoadPost(this)">{{ post.title | escape }}</a>
          {%- endfor -%}
        </div>
      </body>
    </foreignObject>
  </svg>
  {%- endif -%}
</div>

<main class="ajaxTarget">
  {{ content | markdownify }}
</main>

